.fundo{
    transition: all ease-in-out 3s;
    animation-name: fly;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    overflow: hidden;
}

@keyframes fly{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}